
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new:before { content: "\e667"; }

.icon-weixinyingxiaohuodong:before { content: "\e62e"; }

.icon-qq-copy:before { content: "\e67f"; }

.icon-wenjuan:before { content: "\e636"; }

.icon-dui:before { content: "\e63f"; }

.icon-zaixianzixun:before { content: "\e762"; }

.icon-youxiangzhaohui:before { content: "\e60a"; }

.icon-shoufeiwendang:before { content: "\e610"; }

.icon-gengduo:before { content: "\e66c"; }

.icon-canjiaxiaowaijingsai:before { content: "\e600"; }

.icon-chuangguan:before { content: "\e61d"; }

.icon-zuoyepigai:before { content: "\e612"; }

.icon-zaixiankaoshi:before { content: "\e61e"; }

.icon-dingwei:before { content: "\e618"; }

.icon-dianhua:before { content: "\e718"; }

.icon-peixunjihua:before { content: "\e65e"; }

.icon-cuo:before { content: "\e640"; }

